* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

*::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*::before {
  margin: 0;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Advent Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
